@default-padding: 3vw;
@default-margin: 3vw;

@smallest-font-size: 3.4vw;
@small-font-size: 3.8vw;
@default-font-size: 4.2vw;
@medium-font-size: 4.6vw;
@big-font-size: 5vw;

@smallest-border-radius: .4vw;
@small-border-radius: .8vw;
@default-border-radius: 1.2vw;
@medium-border-radius: 1.6vw;
@big-border-radius: 2vw;

//栅格宽度
@grid-lg-width: 1200px;
@grid-md-width: 992px;
@grid-sm-width: 768px;
@grid-xs-width: 768px;

//输入框和按钮的行高
@big-input-line-height: 12vw;
@input-line-height: 10vw;
@small-input-line-height: 8vw;
@input-border-size: .05vw;

//栅格一个列的宽度
@grid-column-width: 3.3333333%;

//默认的动画时间
@default-animate-time: .5s;
//短动画时间
@short-animate-time: .2s;

@herder-height: 12vw;
@herder-nav-height: 11.6vw;
@herder-border-height: 1px;
@herder-box-shadow: 0 0 4px rgba(202, 202, 202, 0.55);

@mask-index: 2000;

@page-height: calc(100vh - (@herder-height + @herder-border-height));




