@default-padding: 15px;
@default-margin: 15px;


@smallest-font-size:17px;
@small-font-size:19px;
@default-font-size:21px;
@medium-font-size:23px;
@big-font-size:25px;

@smallest-border-radius:2px;
@small-border-radius:4px;
@default-border-radius:6px;
@medium-border-radius:8px;
@big-border-radius:10px;

//栅格宽度
@grid-lg-width:1200px;
@grid-md-width:992px;
@grid-sm-width:768px;
@grid-xs-width:768px;

//输入框和按钮的行高
@big-input-line-height:50px;
@input-line-height:35px;
@small-input-line-height:25px;

//栅格一个列的宽度
@grid-column-width: 3.3333333%;

//默认的动画时间
@default-animate-time: .5s;
//短动画时间
@short-animate-time: .2s;

@herder-height:60px;
@herder-nav-height:58px;
@herder-border-height:1px;

@mask-index:2000;




